<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{user.usrnome}}</strong>
  <p>Esta é a confirmação que você se inscreveu no meetup: {{meetup.meettitulo}}.</p>
  <br>
  <p>Prévia da meetup:</p>
  <small>{{meetup.meetdescricao}}</small>
  <br>
  <br>
  <br>
  <p>Local do meetup:</p>
  <p>{{meetup.meetlocalizacao}}</p>
</body>

</html>
